/* :root   {
    --primary-color: #4169e1;
    --primary-color-shade: [#6583FF, #869EFF, #A6BAFF, #C6D7FF, #C6D8FF, #3964DB, #0037A3, #00248B]
}
 */


*   {
    box-sizing: border-box;
}

body    {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'EB Garamond', 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    /* background-color: #3cb371; */
    background-color: #222;
    color: #333;
}

a   {
    text-decoration: none;
    color: #fff;
}

.col-2  {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3  {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4  {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5  {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6  {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7  {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8  {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9  {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10  {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11  {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12  {
    flex: 0 0 100%;
    max-width: 100%;
}

.mx     {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

label   {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}

#wrapper    {
    margin-top: 69px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: auto 1fr auto auto;
}

header  {
    border-bottom: 1px solid #ccc;
    /* grid-column: 2;
    grid-row: 1; */
    
}

aside   {
    border-right: 1px solid #c5c5c5;
    background: #000; 
    grid-column: 1;
    grid-row: 1 / 3;
    text-align: center;
    position: fixed;
    width: 15vw;
    height: 100%;
    left:  0;
    z-index: 1;
}

main    {
   /*  border: 1px solid goldenrod; */
    grid-column: 2 / 3;
    grid-row: 2;
}

footer  {
    grid-column: 1 / 3;
    grid-row: 3;
}

.footer-content     {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
}

#logo   {
    border: 1px solid lightsalmon;
}

.header-content     {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 .image-user     {
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
 
 .image-user img     {
    border-radius: 50%;
}



input:focus     {
    outline: none;
}



.addNew, .side {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.addNew     {
    /* border: 1px solid #ccc; */
    /* border-radius: 50px; */
    background-color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(219, 89%, 21%);;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    border-radius: 50px;
}

/* .#4169e1ew span    {
    color: #25d;
    font-size: 14px;
    padding-right: 5px;
} */


 
/* book item */

.container  {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

 .filter-bar     {
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 20px;
    /* width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;  */
}

.row    {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
}

#container  {
    padding: 20px;
}

.sidebar    {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-nav     {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-title      {
    background: #ccc;
    margin-bottom: 0;
    padding: 5px 0;
    color: #222;
    font-weight: 500;
}

.section-title span     {
    color: royalblue;
    padding-right: 5px;
    padding-left: 5px;
}

#book-container     {
    display: flex;
    flex-flow: row wrap;
}

 
.single-book figcaption   {
    padding: 5px 10px
}

.single-book h6     {
    margin-top: 0px;
    margin-bottom: 0px;
}

.single-book p  {
    margin-top: 0px;
}

.text-center    {
    text-align: center;
}

.bg-conf    {
    background: #ccc;
}

.img-fluid  {
    height: auto;
    max-width: 100%
}

.author-name    {
    color: #666
}

.book-title     {
    color: #222;
    font-size: 15px;
}

.jcc    {
    justify-content: center;
    align-items: center;
}


.form-wrapper   {
    display: flex;
    
}

.single-input input, .single-input select  {
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    background: #fff;
    border: none;
}

.single-input select    {
    height:  40px;
}

.single-input select > option     {
    border-bottom: 1px thin red;
}

.mb-10      {
    margin-bottom: 10px;
}

.mt-10     {
    margin-top: 10px;
}

.d-flex     {
    display: flex;
}

.primary-btn    {
    line-height: 40px;
    border: 1px solid #00ff8c;
    padding:  0 40px;
    background: mediumseagreen;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}

.d-if   {
    display: inline-flex;
    width: 100%;
}

.text-uppercase     {
    text-transform: uppercase;
}

.aic    {
    align-items: center;
    justify-content: center;
}

.book-form      {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #f7f7f7;
    padding-top: 80px;
    width: 100%;
    /* padding-bottom: 150px; */
}

.wrap   {
    border: 1px solid green;
    background: #111;
    padding-bottom: 20px;
    padding-top: 20px;
}

.wrap .form-title      {
    text-align: center;
    background: forestgreen;
}

.closeBtn   {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
    width: 20px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.wrong-input    {
    border: 1px solid red;
}

.default-header     {
    border: 1px solid red;
    position: relative;
    background-color: hsl(225, 73%, 70%);
}

.sticky-header  {
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(225, 73%, 60%);;
    margin-bottom: 0;
}

.logo a     {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    color: hsl(51, 100%, 50%);
}

@media (min-width: 576px) {
    .container {
      max-width: 540px; 
    } 
}
@media (min-width: 768px) {
    .container {
      max-width: 760px; 
    } 
}
  @media (min-width: 992px) {
    .container {
      max-width: 960px; 
    } 
}
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; 
    } 
}

/* Search form */


.search-icon    {
    position: relative;
    left: -110px;
    color: #222;
    font-weight: 700;
    top: 3px;
    
}

.search-box     {
    height: 35px;
    display: inline-block;
    line-height: 35px;
    background: #eee;
    width: 300px;
    padding: 5px 10px;
    margin-right: 0px;
    border: none;
    font-size: 1rem;
}

.btn    {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 35px;
}

.btn-search     {
    background-color: hsl(225, 23%, 85%);
    color: hsl(225, 73%, 10%);
    outline: none;
    border: none;
    cursor: pointer;
    height: 35px;
   font-size: 16px;
   width: 80px;
   font-weight: 700;
}

.form-inline    {
    display:flex;
    align-items: center;
} 


ul#error-message  {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#error-message li   {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    list-style: none;
}