body    {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'EB Garamond', 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    background-color: #3cb371;
}

a   {
    text-decoration: none;
    color: #fff;
}

label   {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}

#wrapper    {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: auto 1fr auto auto;
}

header  {
    grid-column: 2;
    grid-row: 1;
    
}

aside   {
    border: 1px solid rebeccapurple;
    grid-column: 1;
    grid-row: 1 / 3;
}

main    {
    border: 1px solid goldenrod;
    grid-column: 2 / 3;
    grid-row: 2;
}

footer  {
    border: 1px solid orange;
    grid-column: 1 / 3;
    grid-row: 3;
}

#logo   {
    border: 1px solid lightsalmon;
}

.header-content     {
    display:flex;
    flex-direction: row;
}

.image-user     {
    display:flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.image-user img     {
    border-radius: 50%;
}

.form-inline    {
    display:flex;
    align-items: center;
    flex-flow: row wrap;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'EB Garamond';
}

.form-control   {
    width: 60%;
    display: block;
    padding: 0.37em;
    height: 1.5rem;;
    line-height: 1.5;
    font-size: 1rem;
    background-clip: padding-box;
    margin-right: 2px;
    border: none;
}

.form-group     {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

input:focus     {
    outline: none;
}

.btn    {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-search     {
    background-color: #333;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.addNew {
    display: block;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.form    {
    position: relative; 
    width: 60%;
    margin: 50px auto 10px;
    z-index: 15;
    background: #222;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-panel     {
    padding: 60px calc(5% + 60px) 60px 60px;
}

/* .create     {
    width: 100%;
} */

.form-group .form-control   {
    border: 1px solid #c5c5c5;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 8px 5px;
    width: 100%;
    border-radius: 0;
    color: #555;
    box-shadow: none
}

textarea.form-control   {
    min-height: 120px;
    margin: 0 0 10px;
    max-height: 300px;
    max-width: 100%;
    width: 100%;
}

.form-header    {
    background: forestgreen;
    text-align: center;
    width: 100%;
}

.form-header h3     {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group button {
    outline: none; 
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    text-transform: uppercase;
    cursor: pointer;
}